{% extends "base.html" %}

{%block content%}

{% include "nav.html" %}

<div id="about" class="container-fluid  text-center" style="background-image: url(/static/images/bg/2.jpg);">
    <div class="space100"></div>
    <div class="container">
        <form action="" method="post">
        {% csrf_token %}
            <div class="space60"></div>
            <label for="">
                <h2><b>Enter anything here</b></h2>
            </label>
            <input type="text" name="text" style="width: 100%; font-size: large;">
            <div class="space10"></div>
            <button class="btn btn-primary space20">Generate</button>
        </form>
    </div>
    <div class="space20"></div>
    <div class="container" style="height: 300px; background-color: white; border-radius: 10px; border: solid #ebebeb;">
        {% if music == "ok" %}
        <div>
            <div class="space20"></div>
            <audio controls>
                <source src="/media/audio/audio.mp3" type="audio/mp3">
              Your browser does not support the audio element.
              </audio>
        </div>
        {% else %}
        {% endif %}
    </div>
    <div class="space50"></div>
    <!-- <form action = "" method="post">
    {% if object %}
    <a href="{% url 'download_file' object.id %}" class="btn btn-primary space20">Download</a>
    {% endif %}
    </form> -->
    {% if object %}
     <a href="/media/images/image-1.jpg" class="btn btn-primary space20" download="{{object.phrase}}" class="download-btn">Download</a>
    {% endif %}
    <div class="space100"></div>
    
</div>
{% include "footer.html" %}
{% endblock %}