<!-- FOOTER -->
<footer class="footer2" id="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footerP">
                <a href="index.html" class="footer-logo"><img src="/static/images/logo.png" alt="logo"></a>
            </div>
            <div class="col-md-2 footerP">
                <a href="#">
                    <p>Cookies</p>
                </a>
            </div>
            <div class="col-md-2 footerP">
                <a href="#">
                    <p>Privacy Policy</p>
                </a>
            </div>
            <div class="col-md-2 footerP">
                <a href="#">
                    <p>Blog</p>
                </a>
            </div>
            <div class="col-md-3 footerP">
                <div class="footer-social pull-right">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-dribbble"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- COPYRIGHT -->
<div class="footer-copy">
    <div class="container">
        &copy; 2023. TECH TONIC AI. All rights reserved.
    </div>
</div>
</div>